.Home .lander {
    padding: 80px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.py-3.text-nowrap.text-truncate {
    background-color: #0EB1D2;
    color: #fff;
}

.py-3.text-nowrap.text-truncate:hover {
    background: linear-gradient(90deg, rgb(65, 175, 197) 0%, rgb(64, 241, 241) 100%);
}