.NewNote form textarea {
    height: 300px;
    font-size: 1.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 17, 17, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedImageName {
    border: 1px inset white;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.selectedImageName:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
    color: blue;
}

.cross {
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
}

.cross:hover {
    color: red;
    transition: color 0.3s;
}

.cross-hover:hover {
    text-decoration: line-through;
    text-decoration-color: yellowgreen !important;
}

.create-previewImage {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    float: right;
    filter: drop-shadow(5px 5px 15px #332ba6);
    border:12px ridge rgb(34, 36, 170);
    margin-bottom: 12px;
}

@media screen and (max-width:700px) {
    .selectedImageName {
        font-size: 1rem;
    }
}