.Notes form textarea {
    height: 300px;
    font-size: 1.5rem;
}
body{
    background-color: #2B4141;
    color: white
}

.noteAttachment {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: rgb(53, 105, 161) 0px 20px 30px -10px;
}
.noteAttachment:hover {
    cursor: zoom-in;
}

.back {
    margin-top: 20px;
    font-size: 2rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 17, 17, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgName{
    padding: 15px;
    border:1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgName .cross-note{
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.zoomIn{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    z-index: 100;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    cursor: zoom-out;
}

@media (min-width: 768px) {
    .noteAttachment{
        float: right;
    }
}