.Notes form textarea {
    height: 300px;
    font-size: 1.5rem;
}
body{
    background-color: #2B4141;
    color: white
}

.noteAttachment {
    max-width: 100%;
    float: right;
}

.back {
    margin-top: 20px;
    font-size: 2rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 17, 17, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgName{
    padding: 15px;
    border:1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgName .cross-note{
    font-size: 20px;
    color: red;
    cursor: pointer;
}