.forgotPassworLabels {
    color: black;
    font-size: 1.25rem;
    margin: 10px;
}
.forgotPassword{
    display: flex;
    justify-content: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 032da1cf9b104b3ceb89692e50faa436c22a87f1
